.cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 280px;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.card .image {
  height: 200px;
  display: flex;
  justify-content: center;
}

.card .image img {
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn {
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  background: #008DFF;
  border: none;
  cursor: pointer;
}

.btn2 {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: #00BFAF;
  margin-left: 10px;
  cursor: pointer;

}

.card-price {
  margin-bottom: 30px;
  color: #008DFF;
font-size: 18px;
font-weight: 700;
}